.display {
  background-color: #222222;
  padding: 15px 40px;
  border-radius: 30px;
  color: white;
  height: 650px;
}
.header {
  min-width: 320px;
  max-width: 390px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 10px;
}
